.c-message {
  padding-top: 1em;
  display: block; }

.filter-input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0.5em;
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-size: 1em; }

.make-list {
  list-style: none;
  padding-left: 0; }
