.toolbar {
  background-color: #f2f2f2;
  padding: 0;
  overflow: hidden;
  height: 40px; }

.toolbar__title {
  float: left;
  display: block;
  line-height: 40px;
  margin: 0;
  padding: 0 0.5em;
  font-size: 1em; }

.toolbar__actions {
  float: right;
  line-height: 40px; }

.actions__btn {
  margin-right: 5px;
  border: 1px solid silver;
  padding: 0 0.7em;
  color: black;
  font-size: 0.8em;
  text-decoration: none;
  background-color: white;
  display: inline-block;
  line-height: 26px; }

.sidebar {
  height: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: 10px; }
  .sidebar.enabled {
    height: auto; }
